body {
    background: #090f0e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1024px;
    width: 1024px;
    margin: auto;
}

#animatedText {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

#animatedText > span {
    background: none;
    opacity: 20%;
}

.animateIn {
    animation: grow 250ms ease-in forwards;
}

.animateOut {
    animation: shrink 250ms ease-in forwards;
}

@keyframes grow {
    from {
        font-size: 40px;
        border-bottom: 0;
        opacity: 20%;
        text-shadow: 0;
    }

    to {
        font-size: 60px;
        border-bottom: 1px solid #7cd7c2;
        opacity: 100%;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff;
    }
}

@keyframes shrink {
    from {
        font-size: 60px;
        border-bottom: 1px solid #7cd7c2;
        opacity: 100%;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff;
    }

    to {
        font-size: 40px;
        border-bottom: 0;
        opacity: 20%;
        text-shadow: 0;
    }
}