* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

header {
    background-color: #f5f7f8;
    border-bottom: 1px solid #dee5e8;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 2;
}

main {
    margin: 0 auto;
    width: 1152px;
}

/************************ NAV STYLES ************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1122px;
    width: 1122px;
    height: 59px;
}

.logo {
    width: 120px;
    margin-right: 6px;
}

.top-menu {
    display: flex;
    align-items: stretch;
}

.top-menu > a {
    align-items: center;
    color: #363636;
    display: flex;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
}

.top-menu > a:hover {
    background-color: #e6ebee;
}

.badge {
    background-color: #20bd57;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    line-height: 16px;
    margin-left: 12px;
    padding: 2px 6px;
    text-decoration: none;
}

.interactive-button {
    background-color: #f5f7f8;
    border: 1px solid #20bd57;
    border-radius: 6px;
    color: #20bd57;
    font-size: 16px;
    padding: 5px 12px;
}

.interactive-button:hover {
    background-color: #20bd57;
    color: white;
    cursor: pointer;
}

.languages-list {
    width: 186px;
}

.languages-list li {
    display: none;
}

/************************ MAIN STYLES ************************/

.create-hero {
    width: 1152px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 48px 12px;
}

.create-hero .half {
    flex: 1;
    height: 612px;
}

.create-hero .half b {
    font-weight: 600;
}

.create-hero .half h1 {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 24px;
    font-weight: 300;
}

.create-hero .half:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-hero .half div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.create-hero .half div a {
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 8px;
    text-decoration: none;
    color: white;
    background-color: #20bd57;
}

.create-hero .half div a:last-of-type {
    background-color: white;
    border: 1px solid #bebebe;
    color: #333333;
}

.create-hero .half div a:hover {
    background-color: #1eb252;
}

.create-hero .half:first-of-type::before {
    background-image: url('../img/plan-bg.jpg');
    content: "";
    width: 1138px;
    height: 612px;
    position: absolute;
    right: -375px;
    z-index: -1;
}

.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1152px;
}

.home-hero h1 {
    font-size: 36px;
    font-weight: 200;
    color: #444;
    margin-bottom: 24px;
    line-height: 40px;
}

.home-hero p {
    color: #4a4a4a;
}

.home-hero div {
    display: flex;
    flex-direction: row;
    width: 940px;
}

.home-hero .card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 33%;
}

.home-hero .card img {
    height: auto;
    width: 100%;
}

.home-hero .card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.home-hero .card p {
    text-align: center;
    padding: 0px 20px;
    color: #7a7a7a;
    font-size: 16px;
}

.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    width: 1152px;
}

.slider-section h1 {
    font-size: 36px;
    font-weight: 200;
    color: #444;
    margin-bottom: 24px;
    line-height: 40px;
}

.slider-section .slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 960px;
}

.slider-section .slider button {
    background: none;
    border: 1px solid lightgreen;
    border-radius: 50%;
    font-size: 16px;
    height: 50px;
    width: 50px;
}

.slider-section img {
    max-width: 720px;
    height: auto;
}

.visible {
    display: block;
    animation: fadeIn 1s linear;
}

.hidden {
    display: none;
    animation: fadeOut 1s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/************************ FOOTER STYLES ************************/
footer {
    max-width: 1152px;
    width: 1152px;
}

footer .social {
    padding: 20px 15px;
    margin-bottom: 10px;
}

footer .social span:first-child {
    border-right: 1px solid #e8e8e8;
    padding: 10px 10px;
    margin-right: 5px;
}

footer .links-list {
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

footer .links-list h1 {
    color: #212529;
    line-height: 27px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .links-list p {
    color: #6d6d6d;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .links-list div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer .copyright {
    border-top: 1px solid #e8e8e8;
    color: #212529;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 20px 15px;
}
